<footer class="site-footer">
  <div class="container footer-wrap">
    <div class="footer-about">
      <h3>Sambutan 60 Tahun FSKM</h3>
      <p>
        Meraikan 60 tahun legasi, kecemerlangan dan inovasi di
        Fakulti Sains Komputer dan Matematik (FSKM),
        Universiti Teknologi MARA.
      </p>
    </div>

    <div class="footer-social">
      <h3>Ikuti FSKM</h3>
      <ul class="social-links">
        <li><a href="https://www.instagram.com/fskmuitmofficial/" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/uitmsa.fskm/" target="_blank">Facebook</a></li>
        <li><a href="https://www.youtube.com/@FSKMUiTMOfficial" target="_blank">YouTube</a></li>
        <!-- <li><a href="#" target="_blank">X (Twitter)</a></li> -->
        <li><a href="https://fskm.uitm.edu.my/v5/en/" target="_blank">Laman Sesawang Rasmi FSKM</a></li>
      </ul>
    </div>

    <div>
      <p>Total Visitors: <span id="visitor-count">Loading...</span></p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>
      © 2026 Fakulti Sains Komputer dan Matematik (FSKM),
      Universiti Teknologi MARA. Hak Cipta Terpelihara.
    </p>
  </div>
</footer>