<header class="site-header">
  <div class="container navbar">
    <a href="index.html" class="brand">
      <img
        src="img/LOGO_FSKM_7_DEKAD_UiTM.png"
        alt="Logo FSKM"
        height="55"
      >
    </a>

    <nav class="main-nav">
      <ul>
        <li><a href="index.html#about">Pengenalan</a></li>
        <li><a href="index.html#timeline">Sejarah</a></li>

        <li class="dropdown">
  <span class="dropdown-toggle" role="button" tabindex="0">Program</span>

  <ul class="dropdown-menu">
    <li><a href="programs/co-nxt.html">CO-NXT@FSKM</a></li>
    <li><a href="programs/fskm-run.html">FSKM@S60 RUN</a></li>
    <li><a href="programs/majlis-gala-fskm.html">Majlis Gala 60 Tahun FSKM</a></li>
    <li><a href="programs/festival-inovasi.html">Festival Inovasi &amp; Teknousahawan (FIT)</a></li>
    <li><a href="programs/data-camp.html">Data Analytics &amp; Malaysia Cultural Heritage 2.0</a></li>
    <li><a href="programs/academic-symposium.html">International Symposium FSKM@60</a></li>
    <li><a href="programs/peers.html">PEERs</a></li>
    <li><a href="programs/alumni-wall-of-fame.html">Alumni Wall of Fame</a></li>
    <li><a href="programs/entrepreneur-alumni-series.html">International &amp; Entrepreneur Alumni Series</a></li>
  </ul>
</li>

        <li><a href="index.html#gallery">Galeri</a></li>
        <li><a href="index.html#contact" class="btn btn-nav">Hubungi Kami</a></li>
      </ul>
    </nav>
  </div>
</header>
